container_from_scratch/rootfs/
container_from_scratch/rootfs.tar.gz

runc_demo/rhel.tar
runc_demo/nginx.tar

runc_demo/rhel-runc
runc_demo/nginx-runc


overlayfs_demo/dir1
overlayfs_demo/dir2
overlayfs_demo/dir3
overlayfs_demo/work
